name: Continuous Integration

on:
  push:
    branches:
      - "**"
      - "!main"
    tags-ignore:
      - "*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build:all
